.linea__separacion {
  width: 100%;
  height: 20px;
}

.button1 {
  text-align: center;
}

.button-enviar {
  width: 20vw;
  height: 3vw;
  background-color: #63af2b;
  border-radius: 5px;
  border-color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.button2 {
  text-align: center;
}

.button-google {
  background-color: #f5faf9;
  border-color: #ffffff;
  border: 1px solid #818181;
  border-radius: 5px;
  width: 20vw;
  height: 3vw;
}

.button__subscribete {
  width: 150px;
  height: 40px;
  margin-left: 40%;
  margin-top: 25px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #cccccc;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.input__casilla {
  width: 20%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #949292;
}

body {
  font-family: "Noto Sans";
}

.box-nav {
  background-color: #ffffff;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
}

.form__text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.form__input {
  margin-bottom: 10px;
  text-align: center;
}

.box {
  margin-left: 55px;
  margin-bottom: 30px;
}

.box__hijo {
  width: 96%;
  height: 180px;
  background-color: #63af2b;
  border-radius: 5px;
}

.contenedor__relaciones {
  margin-left: 70px;
}

.box__relaciones {
  margin-top: 20px;
}

.box__sub {
  width: 30%;
  height: 55px;
  background-color: #ffffff;
  margin-left: 10%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 25px;
}

.contenedor-text {
  margin-left: 4%;
  margin-right: 40px;
  margin-top: 40px;
  background-color: #dadada;
  border-radius: 5px;
  margin-bottom: 20px;
}

.box-logo {
  margin-bottom: 10px;
}

.logo {
  margin-bottom: 20px;
  margin-left: 55px;
}

.logo__title {
  margin-top: 5px;
  margin-left: 10px;
}

.text-Footer {
  margin-top: 10px;
  margin-left: 70%;
}

.logo-post {
  margin-top: 35px;
  margin-left: 4%;
}

.logo__title--post {
  margin-left: 20px;
  margin-top: 5px;
}

.text-fecha {
  margin-top: 7px;
}

.parrafo__text {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.img__logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.img-icono {
  width: 30px;
  height: 30px;
}

.img__logo--post {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.img__post {
  width: 580px;
  height: 270px;
  margin-bottom: 30px;
  border-radius: 15px;
  margin-left: 25%;
}

.img__r {
  width: 350px;
  height: 250px;
  border-radius: 10px;
}

.logo_r {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.logo__title {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #66666a;
}

.box__title {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  padding-top: 10px;
  text-align: left;
  margin-left: 10%;
  color: #ffffff;
  margin-right: 60%;
}

.logo__title--post {
  font-size: 20px;
  font-weight: 600;
}

.title__post {
  font-size: 25px;
  font-weight: 800;
  margin-left: 4%;
  margin-top: 60px;
}

.text__title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 25px;
}

.text__r {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.title__r {
  font-size: 25px;
  font-weight: 800;
  margin-right: 25%;
  margin-bottom: 15px;
}

.title__r--js {
  font-size: 25px;
  font-weight: 800;
  margin-right: 25%;
  margin-bottom: 20px;
}

.textSub__r {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 15px;
}



/*# sourceMappingURL=styles.css.map */
