.logo {
    margin-bottom: 20px;
    margin-left: 55px;
}

.logo__title {
    margin-top: 5px;
    margin-left: 10px;
}

.text-Footer {
    margin-top: 10px;
    margin-left: 70%;
}
.logo-post {
    margin-top: 35px;
    margin-left: 4%;
}

.logo__title--post {
    margin-left: 20px;
    margin-top: 5px;
}

.text-fecha {
    margin-top: 7px;
}


.parrafo__text{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
